
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Management</title>
</head>
<body>
	<h2>Customer Management</h2>
	<span>@DateTime.Now.ToLongDateString()</span>
</body>
</html>
