@{
	ViewBag.Title = "Customer Management"; //Mittels ViewBag Werte an das MainLayout weitergeben
}

<h2>Customer Management</h2>
<span>@DateTime.Now.ToLongDateString()</span>
<input type="button" id="getCustomer" value="ALFKI laden" />
<script type="text/javascript" src="~/js/api.js"/>